/target
**/*.rs.bk
*.swp
Cargo.lock
target
build/
*.py[co]
*.egg-info
__pycache__/
__pycache__/
.cache
.pytest_cache/
dist/
.tox/
.mypy_cache/
.hypothesis/
.eggs/
venv*
guide/book/
examples/*/py*
*.so
*.out
*.egg-info
extensions/stamps/
pip-wheel-metadata
valgrind-python.supp
.vscode
